{% include 'head.html'%}
{% include 'header.html'%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
  {% if form.errors %}
    <script>alert('Your username and password did not match. Please try again.');</script>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit"value="login" />  
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p> 
  

  <!-- <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </div>

      </div>
    </table>
  </form>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="text-center">
   Button HTML (to Trigger Modal)
  <a href="#myModal" class="trigger-btn" data-toggle="modal">Click to Open Login Modal</a>
</div>
 Modal HTML
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
      <div class="modal-content">
         

  {% csrf_token %}
  <form action="/examples/actions/confirmation.php" method="post">
              <div class="modal-header">
                  <h4 class="modal-title">Login</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control" required="required">
                  </div>
                  <div class="form-group">
                      <div class="clearfix">
                          <label>Password</label>
                          <a href="#" class="pull-right text-muted"><small>Forgot?</small></a>
                      </div>

                      <input type="password" class="form-control" required="required">
                  </div>
              </div>
              <div class="modal-footer">
                  <label class="checkbox-inline pull-left"><input type="checkbox"> Remember me</label>
                  <input type="submit" class="btn btn-primary pull-right" value="Login">
              </div>
          </form>



      </div>
  </div>
</div> -->





