{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
                            <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><b>Impact </b></h5>
                        </div>
                    </div>
                    <div class="row pb-4" style="padding-top: 60px">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="images/IMG_3548.JPG" alt="" /></div>
                                <div></div>
                            </div>
                        </div>

                        <div class="col-md-7 animate-box">
                            <a href="About_us.html" class="magna">PRABIN</a>
                            <div class="fh5co_consectetur">Meet Prabin: direct, engaging, swift, fun, organized and hard working - the perfect guy to lead as PMI’s campus coordinator as well as he is working as a Manager of PMI. Prabin hails from the north east state of Manipur. Having
                                a heart and passion to help university students, he plays a vital role on PMI’s team. An easy guy to get to know, he isn’t just an encouragement to students, but a point of connection between them and PMI.</div>


                        </div>

                        <div class="row pb-4" style="padding-top: 60px">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="images/IMG_5039.JPG" alt="" /></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="About_us.html" class="magna">PRAISE</a>
                                <div class="fh5co_consectetur">
                                    <p style="text-align: justify">Praise is working as a CHEP Coordinator and Assistant Campus coordinator. Always ready with a smile and a helping hand, sees that everyone feels at home.</p>

                                </div>
                            </div>
                        </div>
                        <div class="row pb-4" style="padding-top: 60px">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="images/IMG_9935.JPG " alt="" /></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="About_us.html" class="magna">HARENDER <br>
                            </a>
                                <div class="fh5co_consectetur" style="text-align: justify">Harender is working as a Logistic Coordinator </div>
                            </div>
                            <div class="row pb-4" style="padding-top: 60px">
                                <div class="col-md-5">
                                    <div class="fh5co_hover_news_img">
                                        <div class="fh5co_news_img"><img src="images/IMG_9935.JPG " alt="" /></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a href="About_us.html" class="magna">Dr Peter Malakar <br>
                            </a>
                                    <div class="fh5co_consectetur" style="text-align: justify">Passion Movement International was founded in Delhi, India by medical Dr. Peter and Heather Malakar with a vision to develop and challenge potential leaders around the world for a life of integrity, hope and compassionate
                                        service. PMI brings people together from different places to share expertise and resources, while developing friendships and seeking new opportunities to serve together for local and global impact. </div>
                                </div>

                            </div>
                            <div class="row pb-4" style="padding-top: 60px">
                                <div class="col-md-5">
                                    <div class="fh5co_hover_news_img">
                                        <div class="fh5co_news_img"><img src="images/IMG_9935.JPG " alt="" /></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a href="About_us.html" class="magna">SEEMA </a>
                                    <div class="fh5co_consectetur" style="text-align: justify">Seema is working as a CHEP- Pathsala assistant to the coordinator . Currently, she is doing her Graduation from Delhi University. </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
   {%endblock content%}